In [26]:
"""import requests

for symbol in symbols_list:
    url = f"https://query1.finance.yahoo.com/v10/finance/quoteSummary/{symbol}?modules=assetProfile"
    print(url)
    response = requests.get(url)
    print(response)
    data = response.content
    
    industry = data["quoteSummary"]["result"][0]["assetProfile"].get("industry", "N/A")
    print("Symbol:", symbol)
    print("Industry:", industry)
    """

'import requests\n\nfor symbol in symbols_list:\n    url = f"https://query1.finance.yahoo.com/v10/finance/quoteSummary/{symbol}?modules=assetProfile"\n    print(url)\n    response = requests.get(url)\n    print(response)\n    data = response.content\n    \n    industry = data["quoteSummary"]["result"][0]["assetProfile"].get("industry", "N/A")\n    print("Symbol:", symbol)\n    print("Industry:", industry)\n    '

In [30]:
"""
offset = 0
limit = None
period = '10y'
"""

"\noffset = 0\nlimit = None\nperiod = '10y'\n"

In [29]:
"""
import pandas as pd

data = pd.read_csv("http://www.nasdaqtrader.com/dynamic/SymDir/nasdaqtraded.txt", sep='|')
data_clean = data[data['Test Issue'] == 'N']
symbols = data_clean['NASDAQ Symbol'].tolist()
print('total number of symbols traded = {}'.format(len(symbols)))
"""

'\nimport pandas as pd\n\ndata = pd.read_csv("http://www.nasdaqtrader.com/dynamic/SymDir/nasdaqtraded.txt", sep=\'|\')\ndata_clean = data[data[\'Test Issue\'] == \'N\']\nsymbols = data_clean[\'NASDAQ Symbol\'].tolist()\nprint(\'total number of symbols traded = {}\'.format(len(symbols)))\n'

In [31]:
"""
symbols_list = data_clean["Symbol"].to_list()
"""

'\nsymbols_list = data_clean["Symbol"].to_list()\n'

In [32]:
"""
symbols_list
"""

'\nsymbols_list\n'

In [33]:
"""
offset = 0
limit = None
period = '10y'
import pandas as pd


data = pd.read_csv("http://www.nasdaqtrader.com/dynamic/SymDir/nasdaqtraded.txt", sep='|')
data_clean = data[data['Test Issue'] == 'N']
symbols = data_clean['NASDAQ Symbol'].tolist()
print('total number of symbols traded = {}'.format(len(symbols)))

symbols_list = data_clean["Symbol"].to_list()

industry_dict = dict()

import yfinance as yf

for symbol in symbols_list:
    try:
        ticker = yf.Ticker(symbol)
        industry = ticker.info.get("industry")
        if industry is not None:
            industry_dict[symbol] = industry
            continue
    except Exception as e:
        continue
"""

'\noffset = 0\nlimit = None\nperiod = \'10y\'\nimport pandas as pd\n\n\ndata = pd.read_csv("http://www.nasdaqtrader.com/dynamic/SymDir/nasdaqtraded.txt", sep=\'|\')\ndata_clean = data[data[\'Test Issue\'] == \'N\']\nsymbols = data_clean[\'NASDAQ Symbol\'].tolist()\nprint(\'total number of symbols traded = {}\'.format(len(symbols)))\n\nsymbols_list = data_clean["Symbol"].to_list()\n\nindustry_dict = dict()\n\nimport yfinance as yf\n\nfor symbol in symbols_list:\n    try:\n        ticker = yf.Ticker(symbol)\n        industry = ticker.info.get("industry")\n        if industry is not None:\n            industry_dict[symbol] = industry\n            continue\n    except Exception as e:\n        continue\n'

In [34]:
"""

import pickle

with open("industry.pkl", "wb") as f:
    pickle.dump({"industries": industry_dict}, f)
    
    """

'\n\nimport pickle\n\nwith open("industry.pkl", "wb") as f:\n    pickle.dump({"industries": industry_dict}, f)\n    \n    '

In [6]:
with open("industry.pkl", "rb") as f:
    industries = pickle.load(f)

In [8]:
ind_dict = industries["industries"]

In [9]:
ind_dict

In [10]:
import pandas as pd
import pickle
industries_dict = industries['industries']
df = pd.DataFrame(industries_dict.items(), columns=['symbol', 'industry'])

In [11]:
df

In [4]:
sorted_df = df.sort_values("industry")

In [47]:
sorted_df

     symbol              industry
3971   MOBQ  Advertising Agencies
3201    IPG  Advertising Agencies
1588    CTV  Advertising Agencies
4513    OMC  Advertising Agencies
6516   WIMI  Advertising Agencies
...     ...                   ...
3640  LNZAW      Waste Management
3639   LNZA      Waste Management
2801   HCCI      Waste Management
3840    MEG      Waste Management
1636   CWST      Waste Management

[6741 rows x 2 columns]

In [1]:
sorted_df.unique

In [5]:
df.sort_values("industry")

In [53]:
!git add .
!git commit -m "dataframe containing stocks symbols and corresponding industries"
!git push origin main

[main 713009e] dataframe containing stocks symbols and corresponding industries
 1 file changed, 88 insertions(+), 36 deletions(-)
 rename Untitled.ipynb => df of industries .ipynb (96%)
Enumerating objects: 8, done.
Counting objects: 100% (8/8), done.
Delta compression using up to 8 threads
Compressing objects: 100% (7/7), done.
Writing objects: 100% (7/7), 44.09 KiB | 4.01 MiB/s, done.
Total 7 (delta 2), reused 0 (delta 0), pack-reused 0
remote: Resolving deltas: 100% (2/2), done.
To github.com:Fetyukovitch/SMA.git
   00781ce..713009e  main -> main